### Gradle ###
.gradle/
build/
local.properties
!gradle/wrapper/gradle-wrapper.jar

### Output & Renders ###
*.log
outputs/scenes/*.pfm
/outputs/animations/animateDemo/
/outputs/animations/*/
!/outputs/animations/*.mp4
# Catch any local renders accidentally generated in the root directory
/*.mp4
/*.gif
/*.pfm
/*.png

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/httpRequests/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/gradle.xml
*.iws
*.iml
*.ipr
out/

### Kotlin ###
.kotlin/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store